*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
.nav{
    position: absolute;
    padding:  50px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
body{
    background-image: url(./acc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav .logo span{
    color:chartreuse;
    font-weight: bold;
    margin-right: 19px;
    align-content: center;
    align-items: center;
}
.nav a{
    color:chartreuse;
}
nav .logo{
    font-size: 3em;
    color: red;
    letter-spacing: -13px;
}
nav .navlink ul{
    display: flex;
}
nav .navlink ul li{
    margin: 0 15px;
}
div img{
    width: 40px;
    height:40px;
    margin-top: -40px;
    margin-left: 600px;
    margin-right: 15px;
}
.bt{
    color: #fff;
    background-color: chartreuse;
    height: 40px;
    width: 200px;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;

}
nav  ul li a:hover{
    color: red;
    transition: .3s;
}
 .site{
    position: absolute;
    bottom: 50%;
    left: 40%;
 }
 .site h4{
    font-size: 50px;
    color:#fff
    
 }
 .site h1{
    font-size: 100px;
    color:transparent;
    margin-left: -35%;
    -webkit-text-stroke: 1px #ff8c00;
 }
/*.slider{
    width: 800px;
    height: 400px;
    margin: 100px auto;
    animation: slide 20s infinite;
    background: url(./promo2.jfif);
}
 